<div class="row">
  <div class="large-4 small-12 columns">

    <img src="http://placehold.it/500x500&text=Logo">

    <div>
      <h3>Vendors</h3>
      <h5 class="subheader">This is an index of all available vendors.
      </h5>
    </div>

    <div>
      <% if user_signed_in? %>
        <%= render "vendor_form" %>
      <% end %>
    </div>

  </div>

  <div class="large-8 columns">
    <div class="row">

      <% @vendors.each do |vendor| %>
        <div class="large-4 small-6 columns">
          <%= link_to image_tag("http://placehold.it/1000x1000&text=Thumbnail"), vendor_path(vendor) %>
            <div class="panel">
              <h5><%= link_to vendor.vendor_name, vendor_path(vendor) %></h5>
              <% vendor.categories.each do |cat| %>
              <h6><%= cat.category_name %></h6>
              <% end %>
            </div>
        </div>
      <% end %>

    </div>

  </div>
</div>
