body {
  color: #696969;
  font-family: 'Droid Serif', serif;
  background-image: image-url("bg1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}


ul.right.button-group {
  // position
  margin-top: 10%;
  box-shadow: 5px 5px 5px #888888;
}

button, .button {
  font-family: 'Droid Serif', serif;
  background-color: #2ac535;
  margin: 0;
  transition: background-color 300ms ease-out;
}

button, .button:hover {
  background-color: #fc8007;
  transition-property: background-color #fc8007;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transition-delay: initial;
}

input[type=submit] {
  color: black;
  font-size: 14px;
  background-color: white;
  font-family: 'Droid Serif', serif;
  opacity: 0.7;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #8A8A8A;
  display: inline-block;
  transition: background-color 200ms ease-out;
}

input[type=submit]:hover {
  opacity: 1;
  color: white;
  background-color: #fc8007;
  transition-property: background-color #fc8007;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  transition-delay: initial;
}

input[type="text"] {
  border-radius: 3px;
  font-family: 'Droid Serif', serif;
  margin-bottom: 5px;
}

select {
  border-radius: 3px;
  font-family: 'Droid Serif', serif;
}

input[type="radio"] {
  margin-right: 5px;
}

.radio_buttons label {
  display: inline;
  margin-right: 5px;
}

.radio_buttons input {
  padding-right: 5px;
}

.review {
  margin-top: 25px;
  margin-bottom: 25px;
}

.upvote {
  display: inline;
}

.downvote {
  display: inline;
}

.delete_review {
  display: inline;
}

.rating_style {
  color: #fc8007;
  font-weight: bold;
}

.boston_roots {
  font-family: 'Droid Serif', serif;
  color: #fc8007;
  font-size: 24pt;
  position: absolute;
  margin-top: 105px;
}

.logo {
  padding-left: 8px;
}

.menu {
  box-shadow: 10px 10px 5px #888888;
}

#featured_vendor_row {
  margin-top: 5px;
}

.featured_vendor_image {
  opacity: 0.5;
  box-shadow: 5px 5px 3px #8A8A8A;
  margin-bottom: 20px;
}

.featured_vendor_image:hover {
  opacity: 1;
  transform:scale(1.2,1.2);
}

.featured_vendor_h4 {
  font-family: 'Droid Serif', serif;
  color: #fc8007;
  text-align: center;
}

.featured_vendor_text {
  text-align: center;
  padding: 5px;
  margin: 3px;
}

.featured_vendor_text:hover {
  border-top: solid 2px #fc8007;
  border-bottom: solid 2px #fc8007;
}

.vendor_index_headers {
  font-family: 'Droid Serif', serif;
  color: #fc8007;
}

.vendor_form_spacing {
  margin-top: 50px;
  margin-bottom: 25px;
}

.vendor_details_headers {
  font-family: 'Droid Serif', serif;
  color: #fc8007;
}

.panel {
  color: #545454;
  border-radius: 5px;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h6 {
  color: #fc8007;
}

.panel h5 {
  color: #545454;
}

.panel p {
  color: #545454;
}

.vendor_index_panel {
  background-color: #f2f2f2;
  border-radius: 0px;
  padding: 8px;
  margin-bottom: 20px;
}

.vendor_index_panel h6 {
  color: #fc8007;
}

#vendor_reviews_row {
  color: #545454;
  margin-top: 25px;
}
.add_a_review_form {
  font-family: 'Droid Serif', serif;
  margin-bottom: 10px;
  border-bottom: dotted 2px #d8d8d8;
  padding-bottom: 10px;
}

.reviews_header_style {
  color: #fc8007;
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: dotted 2px #d8d8d8;
}

.review_body {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #d8d8d8;
}

.review_comments_style {
  color: #2ac535;
  font-size: 20px;
}

.comment_block {
  margin-left: 0px;
  border-bottom: dotted 2px #d8d8d8;
  padding-bottom: 10px;
}

.comment_spacing {
  margin-top: 10px;
  padding: 8px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #d8d8d8;
}

.owner_comment {
  color: #2ac535;
  font-size: 20px;
  margin-top: 5px;
}

.comment_created_at {
  padding-left: 5px;
  color: #fc8007;
  font-size: 12px;
}

.comment_body {
  padding-left: 10px;
}

.reply_spacing {
  margin-top: 7px;
}

#footer_margin {
  margin-bottom: 100px;
  margin-top: 20px;
}
